{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}

{% block content %}

<div class="max-w-2xl mx-auto p-6 bg-white shadow-md rounded-lg">
    <a class="text-blue-500 hover:underline" href="{% url 'leads:lead-list' %}">
        {% trans "Go back to leads" %}
    </a>
    <div class="py-5">
        <h1 class="text-3xl font-semibold text-gray-800">
            {% trans "Assign an agent to this lead" %}
        </h1>
    </div>
    <form method="post" class="space-y-6">
        {% csrf_token %}

        <!-- Render the predefined 'agent' field -->
        <div class="mb-4">
            {{ form.agent|as_crispy_field }}
        </div>
        <div class="mb-4">
            {{ form.order_by_date|as_crispy_field }}
        </div>

        <!-- Manually render fields for each category -->
        {% for num_field, checkbox_field, num_leads in form_fields %}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
                <!-- Numeric field -->
                <div>
                    {{ num_field|as_crispy_field }}
                    <p class="text-xs text-gray-500 mt-1">
                        Total available: {{ num_leads }}
                    </p>
                </div>
                
                <!-- Checkbox field -->
                <div class="md:col-span-2 flex items-center">
                        {{ checkbox_field }}
                        <span class="ml-2 text-sm text-gray-700">
                            {{ checkbox_field.label }}
                        </span>
                </div>
            </div>
        {% endfor %}

        <!-- Submit button -->
        <button type='submit' class="w-full text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md transition duration-300">
            {% trans "Submit" %}
        </button>
    </form>
</div>

{% endblock content %}
