{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load humanize %}
{% load static %}
{% load custom_filters %}
{% load i18n %}
{% block content %}

<section class="text-gray-700 body-font">
    <style>
        th {
            cursor: pointer
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
    </style>
<hr>
</br>
</br>
</br>
    <div class="text-right">
        {% if request.user.is_agent %}
        <section class="bg-gray-50 py-12 px-8">
            <div class="max-w-3xl mx-auto bg-white p-8 rounded-xl shadow-lg transition-transform transform hover:scale-105">
                <!-- Circle with rank image -->
                <div class="w-24 h-24 mx-auto relative">
                    {% if request.user.rank == 1 %}
                        <img class="w-full h-full rounded-full border-2 border-indigo-500 object-cover p-2" alt="hero" src="{% static 'images\number-1-svgrepo-com.svg' %}">
                    {% elif request.user.rank == 2 %}
                        <img class="w-full h-full rounded-full border-4 border-indigo-400 object-cover" alt="hero" src="{% static 'images\number-2-svgrepo-com.svg' %}">
                    {% elif request.user.rank == 3 %}
                        <img class="w-full h-full rounded-full border-4 border-indigo-300 object-cover" alt="hero" src="{% static 'images\number-3-svgrepo-com.svg' %}">
                    {% else %}
                        <img class="w-full h-full rounded-full border-4 border-gray-300 object-cover" alt="hero" src="{% static 'images\education-learning-22-svgrepo-com.svg' %}">
                    {% endif %}
                </div>
        
                <!-- Name and rank -->
                <h2 class="mt-6 text-center text-gray-800 text-3xl font-bold">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
        
                {% if request.user.alt_name %}
                    <h3 class="mt-2 text-center text-indigo-500 text-2xl font-medium persian-text">{{ request.user.alt_name }}</h3>
                {% endif %} 
        
                <div class="mt-4 flex items-center justify-center py-2 px-4 bg-indigo-100 rounded-full">
                    <span class="text-indigo-600 font-semibold">Rank: {{ request.user.rank }}</span>
                </div>
        
            </div>
        </section>
        {% endif %}

                {% if request.user.is_organisor %}
                    <div class="container px-5 py-5 mx-auto flex flex-wrap">
                        <a id="openModalButton" href="{% url 'leads:dist_view' %}"  class="px-4 py-2 bg-blue-600 text-white rounded justify-center flex w-full">{% trans "Start Distribution" %}</a>
                    </div>
                    <div class="container px-5 pb-5 mx-auto flex justify-center">
                        <button class="mx-2 px-4 py-2 bg-blue-600 text-white rounded justify-center flex w-1/2" id="runTasksBtn">{% trans "Run Background Tasks" %}</button>
                        <!-- Button to stop background tasks -->
                        <button class="mx-2 px-4 py-2 bg-blue-600 text-white rounded justify-center flex w-1/2" id="stopTasksBtn">{% trans "Stop Tasks" %}</button>
                    </div>

                    <!-- Modal for logs -->
                    <div id="logModal" class="modal">
                        <div class="modal-content">
                        <span class="close">&times;</span>
                        <pre id="logOutput"></pre> <!-- This is where logs will be appended -->
                        </div>
                    </div>
                    
                    
        
                 {% endif %} 
    <div class="w-full justify-center">
        <!-- Search Input -->
    <input type="text" id="searchInput" placeholder="Search leads..." class="p-2 border rounded w-full" onkeyup="searchLeads()">

    <!-- Search Results Container (initially empty) -->
    <div id="searchResults" class="w-full mt-2 border-t border-gray-200 bg-white shadow-lg max-h-64 overflow-auto z-10"></div>


    </div>
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200 text-left">
            <div>
                <h1 class="text-4xl text-gray-800">Leads</h1>
                {% if request.user.is_organisor %}
                    <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:category-list' %}">
                        {% trans "View Categories" %}
                    </a>
                </br>
                    <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:source-list' %}">
                        {% trans "View Sources" %}
                    </a>
                    {% comment %} <h1 class=" text-l text-gray-400">{% trans "There Are" %} {{bank_numbers.bank_total}} {% trans "Leads in the Bank" %}</h1> {% endcomment %}
                {% endif %}
            </div>
            <div>
                {% if request.user.is_organisor %}
                <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:lead-create' %}">
                    {% trans "Create a New Lead" %}
                </a>
                    
                    <br/>
                    <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:lead-import' %}">
                        {% trans "Import" %}
                    </a>
                    <br/>
                    <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:lead-export' %}">
                        {% trans "Export" %}
                    </a>
               
                    {% endif %}
            <div x-data="{ open: false }" class="py-3 relative  text-left">
                <div>
                    <button @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {% trans "Filter Options" %}
                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                
                <div x-show="open" @click.away="open = false" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <div class="py-1" role="none">
                        <!-- Dropdown items (filters) -->
                        <form method="GET" action="{% url 'leads:lead-list' %}" role="none">
                            {% for field in filter_form %}
                                <label for="{{ field.id_for_label }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                    {{ field.label }}:
                                    {% render_field field class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %}
                                </label>
                            {% endfor %}
                            <div class="px-4 py-1">
                                <button type="submit" class="w-full text-sm text-left text-white bg-indigo-600 hover:bg-indigo-500 rounded px-3 py-1">{% trans "Apply Filter" %}</button>
                            </div>
                            <div class="px-4 py-1">
                            <a href="{% url 'leads:lead-list' %}" class="flex items-center w-full text-sm text-left text-white bg-yellow-600 hover:bg-yellow-500 rounded px-3 py-1" >{% trans "Clear Filters" %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
        <form method="GET" action="" class="flex justify-left">
            <!-- Your existing form elements, if any -->
        
            <!-- Add these two buttons -->
            <button type="submit" name="filter_date" value="yesterday" class="m-2 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">{{ jalali_yesterday }}</button>
            <button type="submit" name="filter_date" value="day_before" class="m-2 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">{{ jalali_day_before }}</button>
    
            {% comment %} <!-- Rest of your form -->
            <!-- The new '...' button -->
            <div x-data="{ openJalali: false }" class="ml-2 inline-block">
                <button @click="openJalali = !openJalali" type="button" class="m-2 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
                    ...
                </button>
            </div>
            
            <!-- Jalali Filter Dropdown -->
            <div x-show="openJalali" @click.away="openJalali = false" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                <div class="py-1">
                    <!-- Dropdown items (filters) -->
                    <form method="GET" action="{% url 'leads:lead-list' %}">
                        <!-- Display only the Jalali date field -->
                        <label for="{{ filter_form.date_assigned_jalali.id_for_label }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
                            {{ filter_form.date_assigned_jalali.label }}:
                            {% render_field filter_form.date_assigned_jalali class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %}
                        </label>
                        
                        <div class="px-4 py-1">
                            <button type="submit" class="w-full text-sm text-left text-white bg-indigo-600 hover:bg-indigo-500 rounded px-3 py-1">{% trans "Apply Filter" %}</button>
                        </div>
                    </form>
                </div>
            </div> {% endcomment %}
        </form> 
        
        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 text-center" id="lead-table">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Pesented" %}
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Phone Number" %}
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "First Name" %}
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Last Name" %}
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "City" %}
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Age" %}
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Category" %}
                            </th>
                            {% if request.user.is_organisor %}
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Source" %}
                            </th>
                            {% endif %}
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Agent" %}
                                </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Feedback" %}
                                </th>
                                <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    {% trans "Proposed Price" %}
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        {% trans "Registered Price" %}
                                        </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Sales" %}
                                </th>
                                {% if request.user.is_organisor %}
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Date Added" %}
                                </th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Date Modified" %}
                                </th>
                                {% endif %}
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {% trans "Date Assigned" %}
                                </th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">{% trans "Edit" %}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in page_obj %}
                            <tr class="bg-white border-b">
                                <form method="post" action="{% url 'leads:lead-update' lead.id%}">
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center" >
                                    {% if lead.is_presented %}
                                        ✔️
                                    {% else %}
                                        ❌
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    <a href="{% url 'leads:lead-update' lead.pk %}" class="px-2 text-indigo-700 hover:text-indigo-900">
                                    {{ lead.phone_number }}
                                    </a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    {{ lead.first_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    {{ lead.last_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    {{ lead.city }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    {{ lead.age }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    {{ lead.category }}
                                </td>
                                {% if request.user.is_organisor %}
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" >
                                    {{ lead.source }}
                                </td>
                                {% endif %}
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if lead.agent %}
                                        {% if lead.agent.user.rank == 1 %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            {{ lead.agent }}
                                        </span>
                                        {% elif lead.agent.user.rank == 2 %}
                                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
                                                {{ lead.agent }}
                                            </span>
                                        {% elif lead.agent.user.rank == 3 %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                                            {{ lead.agent }}
                                        </span>
                                        {% elif lead.agent.user.rank == 4 %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                            {{ lead.agent }}
                                        </span>
                                        {% endif %}
                                    {% else %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                                            {% trans "Unassigned" %}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.followups.last.notes|truncatechars:30 }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.proposed_price|intcomma }} {% trans "Tomans" %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.registered_price|intcomma }} {% trans "Tomans" %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.total_sale|intcomma }} {% trans "Tomans" %}
                                </td>
                                {% if request.user.is_organisor %}
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.date_added_jalali }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.date_modified_jalali }}
                                </td>
                                {% endif %}
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.date_assigned|to_jalali }}
                                </td>
                                {% if request.user.is_organisor %}
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                        <a href="{% url 'leads:lead-update' lead.pk %}" class="text-indigo-600 hover:text-indigo-900">
                                            {% trans "Edit" %}
                                        </a>
                                    </td>
                                {% elif request.user.is_agent %}
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                        <a href="{% url 'leads:lead-followup-create' lead.pk %}" class="text-indigo-600 hover:text-indigo-900">
                                            {% trans "Add Followup" %}
                                        </a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                        <a href="{% url 'leads:lead-update' lead.pk %}" class="text-indigo-600 hover:text-indigo-900">
                                            {% trans "Add Details" %}
                                        </a>
                                    </td>
                                    
                                {% endif %}
                            </form>
                            </tr> 
                        {% empty %}
                        {% if request.user.is_organisor %}
                        <p>{% trans "There are currently No Leads" %}</p>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    {% if new_leads.new_leads_total != 0 and request.user.is_organisor%}
                    <p>{% trans "There are currently " %} {{new_leads.new_leads_total}} {% trans "New Leads" %}</p>
                    {% endif %}
                </table>
                <div class="pagination flex justify-center">
                    <span class="step-links">
                        {% with request.GET.copy as get_params %}
                            {% if get_params.page %}
                                {{ get_params.pop.page }}
                            {% endif %}
                            {% if page_obj.has_previous %}
                                <a href="?{{ get_params.urlencode }}&page=1" class="mb-3 ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">&laquo; {% trans "First Page" %}</a>
                                <a href="?{{ get_params.urlencode }}&page={{ page_obj.previous_page_number }}" class="mb-3 ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">{% trans "Previous Page" %}</a>
                            {% endif %}
                
                            <span class="current">
                                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                            </span>
                
                            {% if page_obj.has_next %}
                                <a href="?{{ get_params.urlencode }}&page={{ page_obj.next_page_number }}" class="mb-3 ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">{% trans "Next Page" %}</a>
                                <a href="?{{ get_params.urlencode }}&page={{ page_obj.paginator.num_pages }}" class="mb-3 ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">{% trans "Last Page" %} &raquo;</a>
                            {% endif %}
                        {% endwith %}
                    </span>
                </div>
                <script>
                     function sortTable(colIndex) {
                        var table, rows, switching, i, x, y, shouldSwitch;
                        table = document.getElementById("lead-table");
                        switching = true;
            
                        while (switching) {
                            switching = false;
                            rows = table.rows;
            
                            for (i = 1; i < (rows.length - 1); i++) {
                                shouldSwitch = false;
                                x = rows[i].getElementsByTagName("TD")[colIndex];
                                y = rows[i + 1].getElementsByTagName("TD")[colIndex];
            
                                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                    shouldSwitch = true;
                                    break;
                                }
                            }
            
                            if (shouldSwitch) {
                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                switching = true;
                            }
                        }
                    } 

                   
                    async function searchLeads() {
                    const query = document.getElementById('searchInput').value;
                    const resultsContainer = document.getElementById('searchResults');
            
                    if (query.length >= 3) {  // Adjust this if you want to start searching after a different number of characters.
                        const response = await fetch(`search/?q=${query}`);
                        const results = await response.json();
            
                        resultsContainer.innerHTML = '';  // Clear previous results
            
                        results.forEach(lead => {
                            const leadDiv = document.createElement('div');
                            leadDiv.innerHTML = lead.category ?
                            `
                                <div class="border-b border-gray-200 p-2 hover:bg-gray-100">
                                    ${lead.phone_number} - ${lead.category} 
                                    <a href="/leads/${lead.id}" class="text-blue-500 hover:text-blue-700 ml-2">Edit</a>
                                </div>
                            `:
                            `
                                <div class="border-b border-gray-200 p-2 hover:bg-gray-100">
                                    ${lead.phone_number}
                                    <a href="/leads/${lead.id}" class="text-blue-500 hover:text-blue-700 ml-2">Edit</a>
                                </div>
                            `;
                            resultsContainer.appendChild(leadDiv);
                        });
                    } else {
                        resultsContainer.innerHTML = '';  // Clear the results if query is too short
                    }
                }

                    // Reference modal and elements
                    var modal_log = document.getElementById("logModal");
                    var span = document.getElementsByClassName("close")[0];
                    var logOutput = document.getElementById("logOutput");

                    // When the user clicks on the button, open the modal
                    document.getElementById('runTasksBtn').addEventListener('click', function() {
                        fetch('run_background_tasks/')
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                modal_log.style.display = "block";
                                logOutput.textContent += "Background tasks are running!\n";
                            } else {
                                alert('Error: ' + data.error);
                            }
                        });
                    });

                    // When the user clicks on the "Stop Tasks" button, stop the background tasks
                    document.getElementById('stopTasksBtn').addEventListener('click', function() {
                        fetch('stop_background_tasks/') // Endpoint to stop background tasks
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                logOutput.textContent += "Background tasks stopped!\n";
                            } else {
                                alert('Error: ' + data.error);
                            }
                        });
                    });

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                        modal_log.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal_log.style.display = "none";
                        }
                    }
                </script>
                
                </div>
            </div>
            </div>
        </div>

        
        
    </div>
</section>
{% endblock content %}