{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% load static %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">{% trans "Lead" %}</h2>
            <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:lead-list' %}">
                {% trans "Back to leads" %}
            </a>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ lead.phone_number }}</h1>
            <div class="flex mb-4">
                <a href="{% url 'leads:lead-detail' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    {% trans "Overview" %}
                </a>
                {% if request.user.is_organisor %}
                <a href="{% url 'leads:lead-category-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    {% trans "Category" %}
                </a>
                {% endif %}  
                <a href="{% url 'leads:lead-update' lead.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                    {% trans "Update Details" %}
                </a>
                {% comment %} {% if request.user.is_organisor %} {% endcomment %}
                    <a href="{% url 'leads:lead-sales-create' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        {% trans "Add Sales" %}
                    </a> 
                    <a href="{% url 'leads:lead-sales-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        {% trans "Update Sales" %}
                    </a>
                {% comment %} {% endif %}   {% endcomment %}
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.job|as_crispy_field }}
                {{ form.city|as_crispy_field }}
                {{ form.state|as_crispy_field }}
                {{ form.country|as_crispy_field }}
                {{ form.age|as_crispy_field }}
                {{ form.is_presented|as_crispy_field }}
                {{ form.birthday|as_crispy_field }}
                {{ form.proposed_price|as_crispy_field }}
                {{ form.registered_price|as_crispy_field }}
                {{ form.agent|as_crispy_field }}
                {{ form.phone_number|as_crispy_field }}
                {% if request.user.is_organisor %}
                    {{ form.category|as_crispy_field }}
                    {{ form.source|as_crispy_field }}
                {% endif %}
                
                <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">{% trans "Submit" %}</button>
            </form>
            <div class="mt-5 py-5 border-t border-gray-200">
                <a href="{% url 'leads:lead-delete' lead.pk %}" class="w-1/2 mt-3 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                    {% trans "Delete" %}
                </a>
            </div>
        </div>
      </div>
    </div>
  </section>

    <link rel="stylesheet" type="text/css" href="{% static  'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script type="text/javascript" charset="utf8" src={% static "admin/js/django_jalali.min.js" %}></script>
{% endblock content %}
