{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}
{% load custom_filters  %}
{% load i18n %}
{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">{% trans "Lead" %}</h2>
            <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:lead-list' %}">
                {% trans "Back to Leads" %}
            </a>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ lead.phone_number }}</h1>
            <div class="flex mb-4">
                <a href="{% url 'leads:lead-detail' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    {% trans "Overview" %}
                </a>
                {% if request.user.is_organisor %}
                <a href="{% url 'leads:lead-category-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    {% trans "Category" %}
                </a>
                {% endif %}
                <a href="{% url 'leads:lead-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    {% trans "Update Details" %}
                </a>
                <a href="{% url 'leads:lead-sales-create' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    {% trans "Add Sales" %}
                </a> 
                <a href="{% url 'leads:lead-sales-update' lead.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                    {% trans "Update Sales" %}
                </a>  
            </div>
            {% comment %} <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}  <!-- Management form for the formset -->

                {% for form in formset %}
                    <div class="form-group">
                        {{ form.id }}  <!-- Hidden field for the form ID -->
                        {{ form.amount|as_crispy_field }}  <!-- Render amount field -->

                        {{ form.jalali_date|as_crispy_field }}  <!-- Render jalali_date field -->
                        <!-- Optional: Add a Delete button/link for each sale -->
                    </div>
                {% endfor %}

                <input type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" value="{% trans 'Update Sales' %}">
            </form> {% endcomment %}
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}

                {% for form in formset %}
                    <div class="mb-8 p-4 sm:p-6 border border-gray-200 rounded-lg shadow-sm">
                        <div class="mb-4">
                            <!-- Amount Field -->
                            <label for="{{ form.amount.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">
                                {{ form.amount.label }}
                            </label>
                            <input type="text" id="{{ form.amount.id_for_label }}" name="{{ form.amount.html_name }}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                value="{{ form.amount.value }}" placeholder="Enter amount">
                        </div>

                        <div>
                            <!-- Jalali Date Field -->
                            {% comment %} <label for="{{ form.jalali_date.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">
                                {{ form.jalali_date.label }}
                            </label>
                            <input type="text" id="{{ form.jalali_date.id_for_label }}" name="{{ form.jalali_date.html_name }}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                value="{{ form.jalali_date.value }}" placeholder="YYYY-MM-DD"> {% endcomment %}
                                <div class="relative ">
                                    <label for="{{ form.jalali_date.id_for_label }}" class="block text-sm font-medium text-gray-700">
                                        {{ form.jalali_date.label }}
                                    </label>
                                    <div class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        {{ form.jalali_date }}
                                    </div>
                                </div>
                            </div>
                            <a type="submit" class="text-white bg-red-500 hover:bg-red-600 px-3 py-2 mt-2 rounded-md" href="{% url 'leads:lead-sales-delete' form.instance.pk %}">
                                {% trans 'Delete' %}
                            </a>
                    </div>
                {% endfor %}
                <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    {% trans 'Update Sales' %}
                </button>
            </form>
</div>
</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script type="text/javascript" charset="utf8" src={% static "admin/js/django_jalali.min.js" %}></script>

{% endblock content %}