{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% block content %}

<div class="max-w-lg mx-auto">

    <div class="py-5 border-b border-gray-200">
        <a class="hover:text-blue-500" href="{% url 'agents:agent-list' %}">{% trans "Back to Agents" %}</a>
    </div>

    <h1 class="text-4xl text-gray-800">{% trans "Create a New Agent" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        {{ form.rank|as_crispy_field }}
        {{ form.chat_id|as_crispy_field }}
        {{ form.is_active|as_crispy_field }}
        {{ form.alt_name|as_crispy_field }}
        {{ form.teams }}
        {{ form.is_team_leader|as_crispy_field }}
        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">{% trans "Submit" %}</button>
    </form>

</div>
{% endblock content %}